<article class="post hentry">
	<div class="padd-box">
		<!--post header-->
		<%- partial('header') %>
		<!--post content-->
		<%- partial('content') %>
		<!--post footer-->
		<%- partial('footer') %>
	</div>
</article>
		<%- partial('nav') %>