<footer class="single post-footer">
	<div class="post-footer-top brd-btm">
		<div class="post-footer-info">
			<span class="post-cat-links"><span class="screen-reader-text">Categories</span>
				<%- partial('category') %>
			</span>
		</div>
	</div>

	<div class="post-footer-btm">
		<div class="post-tags">
			<span class="screen-reader-text">Tags </span>
				<%- partial('tag') %>
		</div>
	</div>
</footer>