<section class="widget widget_search">
	<form role="search" method="get" class="search-form" action="#">
		<label>
						<span class="screen-reader-text">Search for:</span>
						<input type="search" class="search-field" placeholder="Search" value="" name="s">
					</label>
		<button type="submit" class="search-submit">
						<span class="screen-reader-text">Search</span>
						<span class="crt-icon crt-icon-search"></span>
					</button>
	</form>
</section>