<section class="section brd-btm padd-box"> 
<div class="row"> 
<div class="col-sm-12"> 
 <h2 class="title-lg text-upper">About Me</h2> 
 <div class="text-box"> 
  <p><b>Hello, I’m Kim!</b><br /> I am software engineer. 
</p> 
 </div> 
</div> 
</div> 
<!-- .row --> 
</section> 
<!-- .section --> 
<section class="section padd-box"> 
<div class="row"> 
<div class="col-sm-6 clear-mrg"> 
 <h2 class="title-thin text-muted">personal information</h2> 
 <dl class="dl-horizontal clear-mrg"> 
  <dt class="text-upper">
   Full Name
  </dt> 
  <dd>
   Yang Kai
  </dd> 
  <dt class="text-upper">
   D.o.b.
  </dt> 
  <dd>
   12 Dec 1996
  </dd> 
  <dt class="text-upper">
   address
  </dt> 
  <dd>
   Xi'an City, Shaanxi Province
  </dd> 
  <dt class="text-upper">
   e-mail
  </dt> 
  <dd>
   <a href="mailto:robertsmith@company.com">deveye@126.com</a>
  </dd> 
  <dt class="text-upper">
   phone
  </dt> 
  <dd>
   155 **** 4006
  </dd> 
  <dt class="text-upper">
   freelance
  </dt> 
  <dd>
   Available
  </dd> 
 </dl> 
</div> 
<!-- .col-sm-6 --> 
<div class="col-sm-6 clear-mrg"> 
 <h2 class="title-thin text-muted">languages</h2> 
 <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10"> 
  <strong class="progress-title">Java</strong> 
  <span class="progress-bar"> <span class="bullet fill"></span> <span class="bullet fill"></span> <span class="bullet fill"></span> <span class="bullet fill"></span> <span class="bullet fill"></span> <span class="bullet fill"></span> <span class="bullet fill"></span> <span class="bullet fill"></span> <span class="bullet fill"></span> <span class="bullet fill"></span> </span> 
  <span class="progress-text text-muted">native</span> 
 </div> 
 <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="8" aria-valuemin="0" aria-valuemax="10"> 
  <strong class="progress-title">Golang</strong> 
  <span class="progress-bar"> <span class="bullet fill"></span> <span class="bullet fill"></span> <span class="bullet fill"></span> <span class="bullet fill"></span> <span class="bullet fill"></span> <span class="bullet fill"></span> <span class="bullet fill"></span> <span class="bullet fill"></span> <span class="bullet"></span> <span class="bullet"></span> </span> 
  <span class="progress-text text-muted">intermediate</span> 
 </div> 
 <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="7" aria-valuemin="0" aria-valuemax="10"> 
  <strong class="progress-title">Javascript</strong> 
  <span class="progress-bar"> <span class="bullet fill"></span> <span class="bullet fill"></span> <span class="bullet fill"></span> <span class="bullet fill"></span> <span class="bullet fill"></span> <span class="bullet fill"></span> <span class="bullet fill"></span> <span class="bullet"></span> <span class="bullet"></span> <span class="bullet"></span> </span> 
  <span class="progress-text text-muted">begginer</span> 
 </div> 
</div> 
<!-- .col-sm-6 --> 
</div> 
<!-- .row --> 
</section>
