<header class="page-header padd-box">
	<h1 class="title-lg">Blog</h1>
</header>
<% page.posts.each(function(post,i){ %>
	<%- partial('article', {post: post, index: true,i:i}) %>
<% }) %>


<% if (page.total > 1){ %>
	<div class="pagination">
	<%- paginator({
		prev_text: '<a class="next page-number" href=""><i class="crt-icon crt-icon-chevron-left"></i></a>',
		next_text: '<a class="next page-number" href=""><i class="crt-icon crt-icon-chevron-right"></i></a>',
  		prev_next: true
}) %>
	</div>
<% } %>
