<footer id="crt-footer" class="crt-container-lg">
        <div class="crt-container">
            <div class="crt-container-sm clear-mrg text-center">
                <p><%= theme.footer %></p>
            </div>
        </div>
 </footer>