<div class="nb-switcher nb-switcher-left" style="height: 148px;">
    <a class="nb-switcher-toggle" title="switcher">
        <svg class="nb-switcher-icon" width="25px" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 76.68 65.82"><title>switcher</title>
            <path d="M83.95,70.92H16a4,4,0,1,0,0,7.94h67.9a4.17,4.17,0,0,0,4.39-4C88.44,72.72,86.44,70.92,83.95,70.92Z"
                  transform="translate(-11.66 -18.9)"></path>
            <path d="M83.95,47.58H16a4,4,0,1,0,0,7.94h67.9a4.17,4.17,0,0,0,4.39-4C88.44,49.38,86.44,47.58,83.95,47.58Z"
                  transform="translate(-11.66 -18.9)"></path>
            <path d="M83.95,24.23H16a4.17,4.17,0,0,0-4.39,4,4.17,4.17,0,0,0,4.39,4h67.9a4.17,4.17,0,0,0,4.39-4C88.44,26,86.44,24.23,83.95,24.23Z"
                  transform="translate(-11.66 -18.9)"></path>
            <rect x="12.45" width="11.25" height="18.61" rx="5.2" ry="5.2"></rect>
            <rect x="52.98" y="23.15" width="11.25" height="18.61" rx="5.2" ry="5.2"></rect>
            <rect x="32.71" y="47.21" width="11.25" height="18.61" rx="5.2" ry="5.2"></rect>
        </svg>
    </a>
    <div class="nb-switcher-content">
        <div class="nb-switcher-header">
            <h2 class="nb-switcher-title">Choose Demo</h2>
        </div>
        <ul class="nb-switcher-items">
            <li>
                <a href="#" class="nb-switcher-demo1">
                    <span>Designer </span>
                </a>
            </li>
            <li>
                <a href="#" class="nb-switcher-demo2">
                    <span>Florist </span>
                </a>
            </li>
            <li>
                <a href="#" class="nb-switcher-demo3">
                    <span>Architect </span>
                </a>
            </li>
            <li class="current">
                <a href="#" class="nb-switcher-demo4">
                    <span>Attorney </span>
                </a>
            </li>
            <li>
                <a href="#" class="nb-switcher-demo5">
                    <span>Developer </span>
                </a>
            </li>
            <li>
                <a href="#" class="nb-switcher-demo6">
                    <span>Dj </span>
                </a>
            </li>
            <li>
                <a href="#" class="nb-switcher-demo7">
                    <span>Teacher </span>
                </a>
            </li>
            <li>
                <a href="#" class="nb-switcher-demo8">
                    <span>Doctor </span>
                </a>
            </li>
        </ul>
        <div class="nb-switcher-text">
        </div>
        <div class="nb-switcher-btn-wrap">
            <a target="_blank" href="#"
               class="nb-switcher-btn">Buy now</a>
        </div>
    </div>
</div>